body {
    width: 200px;
}

@keyframes pagina {
    0%{color: lightblue;}
    25%{color: rgb(72, 158, 187);}
    50%{color: rgb(72, 158, 187);}
    100%{color: lightblue;}
}

p {    
    animation-name: pagina;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}